<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--    Global Appenders  -->
    <appender name="JsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <fieldNames>
                <version>[ignore]</version>
                <thread>thread</thread>
                <logger>logger</logger>
            </fieldNames>
        </encoder>
    </appender>
    <appender name="FlatConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{traceId:-},%X{spanId:-}]${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!--Spring Profiles Logging Configuration-->
    <springProfile name="cloud">
        <root level="INFO">
            <appender-ref ref="JsonConsoleAppender" />
        </root>
    </springProfile>
    <springProfile name="!cloud">
        <root level="INFO">
            <appender-ref ref="FlatConsoleAppender" />
        </root>
    </springProfile>
</configuration>